.logo{
    position: relative;
    padding-right: 400px;
    padding-left: 50%;
    padding-top: 400px;
    padding-bottom: 50%;
}
.btn{
    position: inherit;
}

.search-bar{
    position: inherit;
}

img{
	padding: 500px 500px 500px 500px;
}